<h1>Editing Movie #<%= @movie.id %></h1>


<%= form_tag(movie_url(@movie), method: 'patch') do %>

  <div>
    <%= label_tag :title %><br />
    <%= text_field_tag :title, @movie.title %>
  </div>

  <div>
    <%= label_tag :year %><br />
    <%= number_field_tag :year, @movie.year %>
  </div>

  <div>
    <%= label_tag :duration %><br />
    <%= number_field_tag :duration, @movie.duration %>
  </div>

  <div>
    <%= label_tag :description %><br />
    <%= text_area_tag :description, @movie.description %>
  </div>

  <div>
    <%= label_tag :image_url %><br />
    <%= text_field_tag :image_url, @movie.image_url %>
  </div>

  <!-- TODO This should be a dropdown -->
  <div>
    <%= label_tag :director_id %><br />
    <%= number_field_tag :director_id, @movie.director_id %>
  </div>

  <!-- Todo There should be another dropdown for actor -->

  <div>
    <%= submit_tag "Update Movie" %>
  </div>

<% end %>
