<h1><%= @movie.title %> (<%= @movie.reviews.average(:stars).to_s %> Stars)</h1>

<% if current_user.present? %>

  <p><strong>Add Your Review</strong></p>
  <%= form_for(@review) do |f| %>

    <%= f.hidden_field :movie_id %>

    <div><%= f.label :body, "What did you think?" %>
        <%= f.text_area :body %>
    </div>
    <div><%= f.select :stars, [1,2,3,4,5] %></div>
    <%= f.submit "Add My Review" %>
  <% end %>

<% end %>

<h2>Reviews</h2>

<% @movie.reviews.each do |review| %>
  <p><%= review.user.name %> gave it <%= review.stars %> stars</p>
  <p><%= review.body %></p>
  <hr>
<% end %>

<%= form_tag votes_url, :class => "form-horizontal" do %>
  <%= hidden_field_tag :movie_id, @movie.id %>

  <%= label_tag :user_id %>
  <%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :name) %>

  <%= submit_tag "Create Vote", :class => "btn btn-success" %>
<% end %>

<p>
  <b>Year:</b>
  <%= @movie.year %>
</p>

<p>
  <b>Duration:</b>
  <%= @movie.duration %>
</p>

<p>
  <b>Description:</b>
  <%= @movie.description %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @movie.image_url %>
</p>

<p>
  <b>Director:</b>
  <%= link_to @movie.director.name, director_url(@movie.director.id) %>
</p>

<p>
  <b>Cast:</b>
  <ul>
    <% @movie.actors.each do |actor| %>
      <li><%= actor.name %></li>
    <% end %>
  </ul>
</p>











