<h1>Movie #<%= @movie.id %></h1>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<p>
  <b>Year:</b>
  <%= @movie.year %>
</p>

<p>
  <b>Duration:</b>
  <%= @movie.duration %>
</p>

<p>
  <b>Description:</b>
  <%= @movie.description %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @movie.image_url %>
</p>

<p>
  <b>Director:</b>
  <%= link_to @movie.director.name, director_url(@movie.director.id) %>
</p>

<p>
  <b>Characters:</b>
  <ul>
    <% @movie.roles.each do |role| %>
      <li><%= role.character_name %></li>
    <% end %>
  </ul>
</p>











