<h1>Movie #<%= @movie.id %></h1>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<p>
  <b>Year:</b>
  <%= @movie.year %>
</p>

<p>
  <b>Duration:</b>
  <%= @movie.duration %>
</p>

<p>
  <b>Description:</b>
  <%= @movie.description %>
</p>

<p>
  <b>Image url:</b>
  <%= @movie.image_url %>
</p>

<p>
  <b>Director:</b>
  <%= @movie.director.name %>
</p>


