<h1>Movie #<%= @movie.id %></h1>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<%= form_tag votes_url, :class => "form-horizontal" do %>
  <%= hidden_field_tag :movie_id, @movie.id %>

  <%= label_tag :user_id %>
  <%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :name) %>

  <%= submit_tag "Create Vote", :class => "btn btn-success" %>
<% end %>

<p>
  <b>Year:</b>
  <%= @movie.year %>
</p>

<p>
  <b>Duration:</b>
  <%= @movie.duration %>
</p>

<p>
  <b>Description:</b>
  <%= @movie.description %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @movie.image_url %>
</p>

<p>
  <b>Director:</b>
  <%= link_to @movie.director.name, director_url(@movie.director.id) %>
</p>

<p>
  <b>Cast:</b>
  <ul>
    <% @movie.actors.each do |actor| %>
      <li><%= actor.name %></li>
    <% end %>
  </ul>
</p>











