<h1>Director #<%= @director.id %></h1>

<p>
  <b>Name:</b>
  <%= @director.name %>
</p>

<p>
  <b>Dob:</b>
  <%= @director.dob %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @director.image_url %>
</p>

<p>
  <b>Bio:</b>
  <%= @director.bio %>
</p>

<p>
  <b>Filmography:</b>
  <ul>
    <% @director.movies.each do |movie| %>
      <li>
        <%= movie.title %> (<%= movie.year %>)
        <ul>
          <% movie.actors.each do |actor| %>
            <li><%= actor.name %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</p>

<p>
  <b>Worked with:</b>
  <ul>
    <% @director.actors.each do |actor| %>
      <li><%= actor.name %></li>
    <% end %>
  </ul>
</p>
