<h1>New Vote</h1>

<% if @vote.errors.any? %>
  <% @vote.errors.full_messages.each do |msg| %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">&times;</a>
      <%= msg %>
    </div>
  <% end %>
<% end %>

<%= form_tag(votes_url, method: 'post') do %>

  <div>
    <%= label_tag :movie_id %><br />
    <%= select_tag :movie_id, options_from_collection_for_select(Movie.all, :id, :title) %>
  </div>

  <div>
    <%= submit_tag "Create Vote" %>
  </div>
<% end %>
